<<<<<<< HEAD
img {
    position: relative;
}

#insert1{
    background-color: tomato;
}
#insert2{
    background-color: aqua;
}
#insert3{
    background-color: green;
}
#insert4{
    background-color: orange;
=======
img {
    position: relative;
}

#insert1{
    background-color: tomato;
}
#insert2{
    background-color: aqua;
}
#insert3{
    background-color: green;
}
#insert4{
    background-color: orange;
>>>>>>> 227d3e6a0e681edc3e621bd08920807db25e7f45
}